<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Injury Certificate</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link th:href="@{css/style.css}" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="../css/style.css" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-light bg-light py-0 navbar-expand-lg py-md-0">
	<a class="navbar-brand" href="#"> Injury Certificate Database</a>
	<button class="navbar-toggler mt-1" type="button" data-toggle="collapse" data-target="#navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<i class="fa fa-bars"></i>
	</button>
	<div class="navbar-collapse collapse" id="navbarNav">
		<ul class="navbar-nav">
			<li class="nav-item py-0"><a th:href="@{/generate}" class="nav-link">Create New Certificate</a></li>
			<li class="nav-item py-0"><a th:href="@{/search}" class="nav-link">Search</a></li>
			<li class="nav-item py-0"><a th:href="@{/logout}" class="nav-link">Logout</a></li>
		</ul>
	</div>
</nav>

<div id="logo1"></div>
<div style="text-align: center"><h5>Government of the People’s Republic of Bangladesh</h5></div>
<div style="text-align: center"><h5>Office of the Director</h5></div>
<div style="text-align: center"><h5>Rangpur Medical College Hospital, Rangpur</h5></div>
<div style="text-align: center"><h4>Injury Certificate</h4></div>

<br>
<br>

<form th:action="@{/add}"
	  th:object="${patient}" method="post">

<div class="container-fluid" >

	<div class="form-group">
		<div class="form-row">
			<label class="col-md-2 col-form-label">Dispatch SI : </label>
			<div class="col-sm-3">
<!--				<input class="form-control" type="text" th:value="${dispatchId}" th:readonly="readonly"/>-->
				<input class="form-control" type="text" th:value="${dispatchId}">
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="form-row">
			<label class="col-md-2 col-form-label">Date : </label>
			<div class="col-sm-3">
				<input class="form-control" type="text" th:value="${date}" th:readonly="readonly"/>
			</div>
		</div>
	</div>

	<div class="form-group">
		<div class="form-row">
			<label for="docket" class="col-md-2 col-form-label">Directors Docket : </label>
			<div class="col-sm-3">
				<input type="text" th:field="*{docket}" class="form-control" id="docket" placeholder="Directors Docket">
			</div>
		</div>
	</div>

	<div class="form-group">
		<div class="form-row">
			<label for="docketDate" class="col-md-2 col-form-label">Docket Date : </label>
			<div class="input-group date col-sm-3" data-provide="datepicker">
				<input type="date" th:field="*{docketDate}" class="form-control" id="docketDate">
				<div class="input-group-addon">
					<span class="glyphicon glyphicon-th"></span>
				</div>
			</div>
		</div>
	</div>

	<div class="form-group">
		<div class="form-row">
			<div class="form-group col-md-4">
				<label for="name" class="col-form-label">Name</label> <input
					type="text" th:field="*{name}" class="form-control" id="name"
					placeholder="Name"> <span
					th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
					class="text-danger"></span>
			</div>

			<div class="form-group col-md-2">
				<label for="age" class="col-form-label">Age</label> <input
					type="text" th:field="*{age}" class="form-control" id="age"
					placeholder="Age">
			</div>

			<div class="form-group col-md-3">
				<label for="phoneNo" class="col-form-label">Phone No</label> <input
					type="text" th:field="*{phoneNo}" class="form-control" id="phoneNo"
					placeholder="Phone No">
			</div>

			<div class="form-group col-md-3">
				<label for="nid" class="col-form-label">National ID: </label> <input
					type="text" th:field="*{nid}" class="form-control" id="nid"
					placeholder="National ID No: ">
			</div>

		</div>
	</div>

	<div class="form-group">

		<div class="form-row">

			<div class="form-group col-md-3">
				<div class="form-check">
					<label class="form-check-label">
						<input type="radio" id="option1" name="option1" class="form-check-input" value="Male" th:field="*{sex}">Male
					</label>
				</div>
				<div class="form-check">
					<label class="form-check-label">
						<input type="radio" id="option2" name="option2" class="form-check-input" value="Female" th:field="*{sex}">Female
					</label>
				</div>
				<div class="form-check">
					<label class="form-check-label">
						<input type="radio" id="option3" name="option3" class="form-check-input" value="Others" th:field="*{sex}">Others
					</label>
				</div>
			</div>


			<div class="form-group col-md-5">
				<label for="gurdian" class="col-form-label">Guardian Name</label> <input
					type="text" th:field="*{gurdian}" class="form-control" id="gurdian"
					placeholder="Gurdian">
			</div>

			<div class="form-group col-md-4">
				<label for="relation" class="col-form-label">Relation with Guardian</label> <input
					type="text" th:field="*{relation}" class="form-control" id="relation"
					placeholder="Relation with Guardian">
			</div>


		</div>
	</div>

	<div class="form-group">
		<div class="form-row">
			<div class="form-group col-md-3">
				<label for="village" class="col-form-label">Village</label> <input
					type="text" th:field="*{village}" class="form-control" id="village"
					placeholder="Village">
			</div>

			<div class="form-group col-md-3">
				<label for="post" class="col-form-label">Post</label> <input
					type="text" th:field="*{post}" class="form-control" id="post"
					placeholder="Post">
			</div>

			<div class="form-group col-md-3">
				<label for="thana" class="col-form-label">Thana</label> <input
					type="text" th:field="*{thana}" class="form-control" id="thana"
					placeholder="Enter Thana">
			</div>
			<div class="form-group col-md-3">
				<label for="district" class="col-form-label">District:</label> <input
					type="text" th:field="*{district}" class="form-control" id="district"
					placeholder="District">
			</div>
		</div>
	</div>

	<div class="form-row">
		<div class="form-group col-md-3">
			<label for="regno" class="col-form-label">Registration No: </label> <input
				type="text" th:field="*{regNo}" class="form-control" id="regno"
				placeholder="Registration No">
		</div>

		<div class="form-group col-md-3">
			<label for="ward" class="col-form-label">Ward/Unit:</label> <input
				type="text" th:field="*{ward}" class="form-control" id="ward"
				placeholder="Ward/Unit">
		</div>

		<div class="form-group col-md-3">
			<label for="dateOfAdmission" class="col-form-label">Date of Admission:</label>

				<input type="date" th:field="*{dateOfAdmission}" class="form-control" id="dateOfAdmission">


		</div>

		<div class="form-group col-md-3">
			<label for="timeOfAdmission" class="col-form-label">Time of Admission : </label> <input
				type="text" th:field="*{timeOfAdmission}" class="form-control" id="timeOfAdmission"
				placeholder="Time of Admission">
		</div>

	</div>


	<br><br>

	<table class="table table-bordered">

		<thead class="thead-light">
		<tr>
			<th scope="col" style="width: 4%">SI</th>
			<th scope="col" style="width: 16%">Type of Injury</th>
			<th scope="col" style="width: 16%">Site of Injury</th>
			<th scope="col" style="width: 16%">Size of Injury</th>
			<th scope="col" style="width: 16%">Age of Injury</th>
			<th scope="col" style="width: 16%">Nature of Weapon</th>
			<th scope="col" style="width: 16%">Remarks</th>
		</tr>
		</thead>
		<tbody id="myTable2"  th:each="i,itrStat : ${#numbers.sequence( 1, 8, 1)}">

		<tr>
			<td>
				<input class="form-control" type="text" th:value="${i}" th:attr="name='injuries[' + ${itrStat.index} + '].injurySerialNo'" th:readonly="readonly"/>
			</td>
			<td>
				<textarea class="form-control" id="typeOfInjury" th:field="*{injuries[__${itrStat.index}__].typeOfInjury}" rows="2" placeholder=""></textarea>
			</td>
			<td>
				<textarea class="form-control" id="siteOfInjury" th:field="*{injuries[__${itrStat.index}__].siteOfInjury}" rows="2" placeholder=""></textarea>
			</td>
			<td>
				<textarea class="form-control" id="sizeOfInjury" th:field="*{injuries[__${itrStat.index}__].sizeOfInjury}" rows="2" placeholder=""></textarea>
			</td>
			<td>
				<textarea class="form-control" id="ageOfInjury" th:field="*{injuries[__${itrStat.index}__].ageOfInjury}" rows="2" placeholder=""></textarea>
			</td>
			<td>
				<textarea class="form-control" id="natureOfWeapon" th:field="*{injuries[__${itrStat.index}__].natureOfWeapon}" rows="2" placeholder=""></textarea>
			</td>
			<td>
				<textarea class="form-control" id="remarks" th:field="*{injuries[__${itrStat.index}__].remarks}" rows="2" placeholder=""></textarea>
			</td>

		</tr>

		</tbody>
	</table>

	<br>

	<div class="form-group">
		<div class="form-row">
			<div class="form-group col-md-12">
				<label for="note" class="col-form-label">Note (If any) : </label>
<!--				<input type="text" th:field="*{note}" class="form-control" id="note"-->
<!--					placeholder="Note (If any) : ">-->
				<textarea class="form-control" id="note" th:field="*{note}" rows="3" placeholder="Note (If any) : "></textarea>
			</div>
		</div>
	</div>


	<p>[Injury Certificate has been issued as directed by the respected Director of Rangpur Medical College
		Hospital, Rangpur, order No-rpmch/Rang/Admin/2020/661/1(11), Date: 27.02.2020 and according to
		the supplied documents]</p>


	<br>
	<br>
	<br>
	<br>
	<br>

	<p>_______________________</p>

	<p>Signature</p>


</div>

	<div style="margin-left: 75%" class="col-md-6">
		<input type="submit" class="btn btn-primary" value="Generate Certificate">
	</div>

	<br>
	<br>

</form>

</body>
</html>