<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>33rd BCS Voting Application</title>
	<link th:href="@{css/style.css}" rel="stylesheet" />

	<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous"/>

</head>
<body>
<div id="logo1"></div>
	<br>
	<br>
<div style="text-align: center"><h3> 33rd BCS User Login</h3></div>
	<div class = "container">
		<div class = "row">
			<div class = "col-md-4 col-md-offset-4">

				<form th:action="@{/sendpassword}" method="post">

					<!-- error message -->
<!--					<div th:if="${sent}">-->
<!--						<div class="alert alert-danger">Your Password Has Been Sent to Your Registered Email Address</div>-->
<!--					</div>-->

					<!-- logout message -->
					<div th:if="${param.logout}">
						<div class="alert alert-info">You have been logged out.</div>
					</div>

					<div class = "form-group">
						<label for ="username"> Code No:  </label>
						<input type="text" class = "form-control" id ="username" name = "username"
						placeholder="Enter Your Code No" autofocus="autofocus">
					</div>

					<div class="form-group">
						<div class="row">
							<div class="col-sm-6 col-sm-offset-3">
								<input type="submit" name="login-submit" id="login-submit"
									class="form-control btn btn-primary" value="Get Password" />
							</div>
						</div>
					</div>
				</form>

				<br>
				<br>
				<br>

			</div>
		</div>
	</div>

<footer class="page-footer font-small indigo">
	<div class="footer-copyright text-center py-3">&copy; 2020 Copyright:
		<a href="https://33bcshealth.com/"> 33bcshealth.com</a>
		<p>For Any Query Contact: </p>
		<p>Dr. Mahabub Azad Razeeb</p>
		<p>Phone: +8801718092601</p>
		<p>Email: info@33bcshealth.com</p>
	</div>
</footer>
</body>
</html>
